extensions:
	dataSource: OriNette\DataSources\DI\DataSourceExtension

dataSource:
	encoders:
		neon:
			factory: Tests\OriNette\DataSources\Doubles\SerializeFormatEncoder()
		serial: Tests\OriNette\DataSources\Doubles\SerializeFormatEncoder()
